* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
    .invert { filter: invert(100%); };
}

#icon {
    width: 30px;
    cursor: pointer;
    padding-left: 15px;
}

.container {
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

/*Div langWrap*/

.langWrap {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.langWrap .items {
    flex: 1;
    text-align: right;
}

.langWrap .items a {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.langWrap .items a:hover {
    color: #ff4321;
}

/*Div Card*/

.card {
    width: 90%;
    max-width: 470px;
    background: var(--secondary-color);
    color: #fff;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-sizing: border-box;
}

/*Div City Name*/

.cityNam {
    align-items: end;
    padding-right: 100px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    text-align: justify;
    font-weight: 600;
    color: var(--primary-color);
}

/*Div Search*/

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 1.1rem;
}

.search ::placeholder {
    color: var(--secondary-color);
  }


.search button {
    border: 0;
    outline: 0;
    background: var(--primary-color);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.search button img {
    width: 26px;
}

/*Div Error*/

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 1rem;
    margin-top: 10px;
    display: none;
    color: var(--primary-color);
}

/*Div Weather*/

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

.weather h2 {
    font-size: 2.7rem;
    font-weight: 400;
    margin-top: -10px;
    color: var(--primary-color);
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 50px;
    color: var(--primary-color);
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px; 
}

.humidity, 
.wind {
    font-size: 2rem;
    margin-top: -6px;
}

.weather{
    display: none;
}

@media(max-width: 800px) {

    /*Div Container*/

    .container {
        height: 110vh;
    }

    /*Div City Name*/

    .div-citynam {
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .cityNam {
        font-size: 1.5rem;
    }

    /*Div Search*/

    .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .search input {
        margin-top: 5%;
        padding: 20px;
        margin-left: 6%;
    }

    .search button {
        margin-top: 15px;
    }

    /*Div Weather*/
    
    .weather-icon {
        margin-top: 5px;
    }

    .weather h1 {
        font-size: 3.5rem;
    }
    
    .weather h2 {
        font-size: 2.5rem;
    }

    .details {
        margin-top: 25px;
    }

    .humidity, 
    .wind {
    font-size: 1.3rem;
    }

}

@media(max-width: 450px) {

    /*Div Container*/
    
    .container {
        height: 100vh;
    }

    /*Div Card*/

    .card {
        margin: -5px auto 70px;
    }

    /*Div City Name*/

    .div-citynam {
        margin-top: -15px;
        padding-left: 0%;
    }

    .cityNam {
        font-size: 1.3rem;
    }

    /*Div Search*/

    .search input {
        margin-top: 2%;
    }

    /*Div Weather*/

    .weather-icon {
        margin-top: -15px;
    }

    .weather h1 {
        font-size: 3rem;
    }
    
    .weather h2 {
        margin-top: 3px;
        font-size: 2rem;
    }
    
    .details {
        display: grid;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5px;
    }

    .col {
       padding-top: 15px;
       font-size: 0.8rem;
    }

}